* {
  margin: 0px;
  padding: 0px;
}

.home-bg-container {
  text-align: center;
  height: 100vh;
  background-color: black;
}

.greeting {
  color: cyan;
  font-family: "Times New Roman", Times, serif;
}

.welcome {
  font-family: "Times New Roman", Times, serif;
}
